==
function onStart()
{
  $this->addJs('assets/js/map.js');
}
==
<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-hours">
      <span class="footer-h">Hours</span>
      <div class="value-pair">
        <p class="footer-p">Monday</p><p class="footer-p">Closed</p>
      </div>
      <div class="value-pair">
        <p class="footer-p">Tuesday</p><p class="footer-p">Closed</p>
      </div>
      <div class="value-pair">
        <p class="footer-p">Wednesday</p><p class="footer-p">Closed</p>
      </div>
      <div class="value-pair">
        <p class="footer-p">Thursday</p><p class="footer-p">Closed</p>
      </div>
      <div class="value-pair">
        <p class="footer-p">Friday</p><p class="footer-p">Closed</p>
      </div>
      <div class="value-pair">
        <p class="footer-p">Saturday</p><p class="footer-p">Closed</p>
      </div>
      <div class="value-pair">
        <p class="footer-p">Sunday</p><p class="footer-p">Closed</p>
      </div>
    </div>
    <div class="footer-directions">
      <span class="footer-h">Address</span>
      <span class="address">336 Vermont Route 108<br />Bakersfield, VT 05441</span>
      <button class="map-button" onclick="mapsSelector()">Directions?</button>
    </div>
    <div class="footer-contact">
      <span class="footer-h">Contact Us</span>
      <div class="value-pair">
        <p class="footer-p">Phone</p><p class="footer-p">(802)827-6123</p>
      </div>
      <div class="value-pair">
        <p class="footer-p">Email</p><p class="footer-p">contact@larrystreefarm.com</p>
      </div>
    </div>
  </div>
  <div class="credits">Designed and Built by <a href="https://firearrow5235.github.com" target="_blank">Gavyn Leavitt</a></div>
</footer>
