==
function onStart()
{
  $this->addJs('assets/js/map.js');
}
==
<footer class="footer">
  <div class="footer-wrapper">
    <div class="directions">
      <span class="footer-h">Address</span>
      <span class="address">336 Vermont Route 108<br />Bakersfield, VT 05441</span>
      <button class="map-button" onclick="mapsSelector()">Directions?</button>
    </div>
  </div>
  <div class="credits">Designed and Built by <a href="https://firearrow5235.github.com" target="_blank">Gavyn Leavitt</a></div>
</footer>
