.product-box {
  position: relative;
  width: $product-box-size;
  height: $product-box-size;
  overflow: hidden;
  border-radius: 1.2rem;
}

.product-box-zoom {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  background-position: center;
  background-size: cover;
  color: #FFF;
  font-size: 3.2rem;
  text-align: center;
  line-height: $product-box-size;
  transition: all 1;
}

.product-box-zoom:hover, .product-box-zoom:focus {
  box-shadow: inset 0 0 8rem 5rem #000;
  transform: scale(1.2);
}
