.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: $background-color;
  color: #FFF;


  a {
    text-decoration: none;
  }
}

.directions {
  width: 200px;
}

.address {
  font-size: 1.4rem;
}

.credits {
  width: 100%;
  text-align: center;
}

.map {
  margin: 0 auto;
}
