.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: $nav-height;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}


.products-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20rem 0;
}

.footer-wrapper {

}
