.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: $nav-height;
  padding-bottom: $footer-height;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}


.products-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20rem 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0px 100px;
  padding-bottom: 10px;
}
