description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Larry's Tree Farm - {{ this.page.title }}</title>
        <link href="{{ 'assets/css/app.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>
        {% partial 'site/nav' %}
        <section class="content-wrapper">
            {% page %}
        </section>
        {% partial 'site/footer' %}

        <!-- Scripts -->
        {% scripts %}
    </body>
</html>
